<!-- Templates qui permet d'affichier les annonces d'une partie sélectionner -->
<%inherit file="template.html"/>

<div class="container" id="container1">
    <div class="form-container">
      <h2 class="mb-4">Liste des annonces par partie</h2>
      <p class="message alert alert-${type}">${message}</p>
      <form action="affAnnoncePartie_Do" method="POST" class="needs-validation" novalidate>
        <div class="form-group">
          <label for="idPartie">Entrez l'identifiant de la partie pour voir ses annonces :</label>
          <input type="text" class="form-control" id="idPartie" placeholder="ID de la partie" name="id" required>
          <div class="valid-feedback">Valide.</div>
          <div class="invalid-feedback">Veuillez remplir ce champ.</div>
        </div>
        <button type="submit" class="btn btn-outline-success">Rechercher</button>
      </form>
      <div class="btn-container">
        <p>Si vous voulez voir la liste des parties, cliquez <a class="btn btn-outline-success" href="affAnnoncePartie_affPartie" role="button">ici</a></p>
      </div>
      <div id="liste-elements" class="list-group rounded">
        ${texte}
      </div>
    </div>
  </div>

  <div class="background">
    <img src="static/images/as.png" alt="Carte 1" class="rotating-image img1" id="rotating-image-1">
    <img src="static/images/carreau.png" alt="Carte 2" class="rotating-image img2" id="rotating-image-2">
    <img src="static/images/coeur.png" alt="Carte 3" class="rotating-image img3" id="rotating-image-3">
    <img src="static/images/trefle2.png" alt="Carte 4" class="rotating-image img4" id="rotating-image-4">
  </div>