<%inherit file="template.html"/>

<link rel="stylesheet" href="/static/css/insert_style.css" >

<div class="form-container" id="container1">
    <h3>Insertion d'une partie</h3>

    <pre>
    Insertion de données dans la base.
    </pre>
    <p class="message alert alert-${type}">${message}</p>
    
    <form action="doInsertPartie" method="POST" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="date_partie">Date de la partie :</label>
            <input type="date" class="form-control" id="date_partie" name="date_partie" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">Veuillez entrer la date de la partie.</div>
        </div>
        <div class="form-group">
            <label for="heure_debut">Heure de début de la partie :</label>
            <input type="time" class="form-control" id="heure_debut" name="heure_debut" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">Veuillez entrer l'heure de début de la partie.</div>
        </div>
        <div class="form-group">
            <label for="lieu_partie">Lieu de la partie :</label>
            <input type="text" class="form-control" id="lieu_partie" name="lieu_partie" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">Veuillez entrer le lieu de la partie.</div>
        </div>
        <button type="submit" class="btn btn-outline-success" id="btn1">Insérer</button>
    </form>
</div>

<div class="background">
	<img src="static/images/as.png" alt="Carte 1" class="rotating-image img1" id="rotating-image-1">
	<img src="static/images/carreau.png" alt="Carte 2" class="rotating-image img2" id="rotating-image-2">
	<img src="static/images/Coeur.png" alt="Carte 3" class="rotating-image img3" id="rotating-image-3">
	<img src="static/images/trefle2.png" alt="Carte 4" class="rotating-image img4" id="rotating-image-4">
</div>