<!-- Templates de la page qui permet d'insérer une equipe dans la base de donées-->
<%inherit file="template.html"/>

<link rel="stylesheet" href="/static/css/insert_style.css" >

<div class="form-container" id="container1">
    <h3>Insertion d'une équipe</h3>

    <pre>
    Insertion de données dans la base.
    </pre>
    <p class="message alert alert-${type}">${message}</p>
    
    <form action="doInsertEquipe" method="POST" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="nom_equipe">Nom de l'équipe :</label>
            <input type="text" class="form-control" id="nom_equipe" name="nom_equipe" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">Veuillez entrer le nom de l'équipe.</div>
        </div>
        <div class="form-group">
            <label for="id_joueur1">ID du joueur 1 :</label>
            <input type="number" pattern="[0-9]+" class="form-control" id="id_joueur1" name="id_joueur1" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">Veuillez entrer l'ID du joueur 1.</div>
        </div>
        <div class="form-group">
            <label for="id_joueur2">ID du joueur 2 :</label>
            <input type="number" pattern="[0-9]+" class="form-control" id="id_joueur2" name="id_joueur2" required>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">Veuillez entrer l'ID du joueur 2.</div>
        </div>
        <div class="form-group">
            <label for="description_equipe">Description de l'équipe :</label>
            <textarea class="form-control" id="description_equipe" name="description_equipe" required></textarea>
            <div class="valid-feedback">Valide.</div>
            <div class="invalid-feedback">Veuillez entrer la description de l'équipe.</div>
        </div>
        <button type="submit" class="btn btn-outline-success" id="btn1">Insérer</button>
    </form>
</div>

<div class="background">
	<img src="static/images/as.png" alt="Carte 1" class="rotating-image img1" id="rotating-image-1">
    <img src="static/images/carreau.png" alt="Carte 2" class="rotating-image img2" id="rotating-image-2">
    <img src="static/images/coeur.png" alt="Carte 3" class="rotating-image img3" id="rotating-image-3">
    <img src="static/images/trefle2.png" alt="Carte 4" class="rotating-image img4" id="rotating-image-4">
</div>