<!-- Templates de la page qui permet d'insérer une annonce dans la base de donées-->
<%inherit file="template.html"/>

<link rel="stylesheet" href="/static/css/insert_style.css" >

<div class="form-container" id="container1">
  <h3>Insertion d'une annonce</h3>

  <pre>
  Insertion de données dans la base.
  </pre>
  <p class="message alert alert-${type}">${message}</p>

  <form action="doInsertAnnonce" method="POST" class="needs-validation" novalidate>
    <div class="form-group1">
        <label for="carre1">Si le joueur a eu un carré, entrez l'élément correspondant à ce dernier (as, roi, dame, valet, dix, neuf, huit, sept) ou null s'il n'a pas eu de carré :</label>
        <select class="form-control" id="carre1" name="carre1" required>
            <option value="null">null</option>
            <option value="as">As</option>
            <option value="roi">Roi</option>
            <option value="dame">Dame</option>
            <option value="valets">Valet</option>
            <option value="dix">Dix</option>
            <option value="neuf">Neuf</option>
            <option value="huit">Huit</option>
            <option value="sept">Sept</option>
        </select>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Remplir ce champ, SVP!</div>
    </div>
    <div class="form-group1">
        <label for="carre2">Si le joueur a eu un deuxième carré, entrez l'élément correspondant à ce dernier (as, roi, dame, valet, dix, neuf, huit, sept) ou null s'il n'a pas eu de deuxième carré :</label>
        <select class="form-control" id="carre2" name="carre2" required>
            <option value="null">null</option>
            <option value="as">As</option>
            <option value="roi">Roi</option>
            <option value="dame">Dame</option>
            <option value="valets">Valet</option>
            <option value="dix">Dix</option>
            <option value="neuf">Neuf</option>
            <option value="huit">Huit</option>
            <option value="sept">Sept</option>
        </select>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Remplir ce champ, SVP!</div>
    </div>
      <div class="form-group">
        <label for="_100">Entrez 1 si le joueur a eu un cent et 0 sinon :</label>
        <select class="form-control" id="_100" name="_100" required>
            <option value="0">0</option>
            <option value="1">1</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nb50">Entrez le nombre de 50 (0, 1 ou 2) :</label>
        <select class="form-control" id="nb50" name="nb50" required>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nbTierce">Le nombre de tierces doit être 0, 1 ou 2 :</label>
        <select class="form-control" id="nbTierce" name="nbTierce" required>
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="belote">Belote doit être 0 ou 1 :</label>
        <select class="form-control" id="belote" name="belote" required>
          <option value="0">0</option>
          <option value="1">1</option>
        </select>
      </div>
      <div class="form-group">
        <label for="id_joueur">Entrez l'ID du joueur :</label>
        <input type="number" pattern="[0-9]+" class="form-control" id="id_joueur" placeholder="Entrez l'ID du joueur" name="id_joueur" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Remplir ce champ, SVP!</div>
      </div>
      <div class="form-group">
        <label for="id_donne">Entrez l'ID de la donne :</label>
        <input type="number" pattern="[0-9]+" class="form-control" id="id_donne" placeholder="Entrez l'ID de la donne" name="id_donne" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Remplir ce champ, SVP!</div>
      </div>
      <button type="submit" class="btn btn-outline-success" id="btn1">Insérer</button>
    </form>
</div>
  
<div class="background">
	  <img src="static/images/as.png" alt="Carte 1" class="rotating-image img1" id="rotating-image-1">
    <img src="static/images/carreau.png" alt="Carte 2" class="rotating-image img2" id="rotating-image-2">
    <img src="static/images/coeur.png" alt="Carte 3" class="rotating-image img3" id="rotating-image-3">
    <img src="static/images/trefle2.png" alt="Carte 4" class="rotating-image img4" id="rotating-image-4">
</div>