<!-- Templates de la page qui permet de supprimer un élément d'une table dans la base de donées-->
<%inherit file="template.html"/>

<p class="message alert alert-${type}">${message}</p>

<div class="form-container" id="container1">
	<div class="element-liste">
	  <h3 class="text-center">Supprésion dans la table ${tablesupr}</h3>
  
	  <div id="liste-elements">
        % for i, e in enumerate(liste) :
            <div>
                <div class="list-group-item rounded" style="display: flex; align-items: center;">
                    <div style="flex-grow: 1;">
                        ${e[1]}
                    </div>
                    <form action="supprimer_joueur" method="post" style="display: inline;">
                        <input type="hidden" name="id" value="${e[0]}">
                        <input type="hidden" name="table" value="${table}">
                        <input type="submit" class="btn btn-outline-success" value="Supprimer">
                    </form>
                </div>
            </div>
            <br />
        % endfor
    </div>
	</div>
</div>

<div class="background">
	<img src="static/images/as.png" alt="Carte 1" class="rotating-image img1" id="rotating-image-1">
    <img src="static/images/carreau.png" alt="Carte 2" class="rotating-image img2" id="rotating-image-2">
    <img src="static/images/coeur.png" alt="Carte 3" class="rotating-image img3" id="rotating-image-3">
    <img src="static/images/trefle2.png" alt="Carte 4" class="rotating-image img4" id="rotating-image-4">
</div>