<!-- Templates qui contient la base d'une page html, la navbar et le footer-->
<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" >
    
    <title>Coinche</title>
  </head>
  <body>

    <script src="/static/js/jquery-3.5.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.js"></script>
    
	<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index">
              <img src="/static/images/trefle.png" alt="Trèfle" style="height: 27px; margin-right: 5px;"> Home
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Afich_Partie_Direct">Partie en direct</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Affichage
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="affJoueur">Joueurs</a>
              <a class="dropdown-item" href="affJoueuralpha">Joueurs orde alphabétique</a>
              <a class="dropdown-item" href="affEquipe">Equipe</a>
              <a class="dropdown-item" href="affCompo">Composition</a>
              <a class="dropdown-item" href="affpartie">Partie</a>
              <a class="dropdown-item" href="affpartieGagner">Partie gagner</a>
              <a class="dropdown-item" href="affAnnonceJoueur">Annonces d'un joueur</a>
              <a class="dropdown-item" href="affAnnoncePartie">Annonces d'une partie</a>
              <a class="dropdown-item" href="affDonne162">Partie annonces supérieur à 162</a>

            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Insertion
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="insert_Joueurs">Joueurs</a>
              <a class="dropdown-item" href="insert_Partie">Partie</a>
              <a class="dropdown-item" href="insert_Equipe">Equipe</a>
              <a class="dropdown-item" href="insert_Donne">Donne</a>
              <a class="dropdown-item" href="insert_Encheres">Encheres</a>
              <a class="dropdown-item" href="insert_Annonce">Annonces</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Supprimer
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#" onclick="deleteTable('6')">Partie</a>
                <a class="dropdown-item" href="#" onclick="deleteTable('5')">Joueurs</a>
                <a class="dropdown-item" href="#" onclick="deleteTable('4')">Equipe</a>
                <a class="dropdown-item" href="#" onclick="deleteTable('3')">Donne</a>
                <a class="dropdown-item" href="#" onclick="deleteTable('2')">Encheres</a>
                <a class="dropdown-item" href="#" onclick="deleteTable('1')">Annonces</a>
            </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Modifier
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#" onclick="modifTable('6')">Partie</a>
              <a class="dropdown-item" href="#" onclick="modifTable('5')">Joueurs</a>
              <a class="dropdown-item" href="#" onclick="modifTable('4')">Equipe</a>
              <a class="dropdown-item" href="#" onclick="modifTable('3')">Donne</a>
              <a class="dropdown-item" href="#" onclick="modifTable('2')">Encheres</a>
              <a class="dropdown-item" href="#" onclick="modifTable('1')">Annonces</a>
          </div>
        </li>
      </ul>
      </div>
    </nav>
  </header>
    

	${ self.body() }



  <div class="footer">
    <p>© 2024 Coinche.com - Made by Soleilhac Bastien - IUT de Valence</p>
  </div>

  </body>
</html>